<form name="myForm">
	<div class="ngdialog-message">
		<h3>
			<i class='fa fa-user'></i> <span class='text-center'>{{InsEstudiante.nombre}}</span>
		</h3>
		<div class="form-group">
			<label for="select" class="col-lg-2 control-label">Colegio</label>
			<div class="col-lg-8">
				<select class="form-control" name="colegio" ng-model="colegio"
					ng-options='col.id as col.nombre for col in colegios'>
					<option value="">Seleccione un Colegio</option>
				</select>
			</div>
			<div class="col-lg-2">
				<button type="button" class='btn btn-primary' ng-click="dialogColegio()"><i class='fa fa-plus'></i></button>
			</div>
		</div>
		<div class='form-group'>
			<div class='pull-right'>
				<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="">Crear</button>
			</div>
		</div>
	</div>
	<div class="ngdialog-buttons">
		<!-- <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="cancel()">Cancel</button> -->
	</div>
</form>
