
<section class="content-header">
	<h1>Gestion Maestros</h1>
	<ol class="breadcrumb">
		<li><a><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li class="active">Maestros</li>
	</ol>
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-warning box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Maestros</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" data-toggle="collapse"	data-target="#contentUsuarios">
							<span class="fa fa-caret-down"></span>
						</button>
					</div>
					<!-- /.box-tools -->
				</div>
				<!-- /.box-header -->
				<div class="box-body collapse in" id="contentUsuarios">

					<div class="">

						<!-- Default panel contents -->
						<!-- <div class="panel-heading">
							<span class="lead">MAESTROS</span>
						</div> -->
						<div class="panel-body">
							<div class="formcontainer">
								<div class='row'>
									<div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
									<div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
									<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal sin-mg-form-group"	enctype='multipart/form-data'>
										<input type="hidden" ng-model="ctrl.user.id" />
										<div class="form-group col-md-4">
											<label class="control-label " for="rda">RDA</label>
											<div class="input-group">
												<span class='input-group-addon hidden-xs'><i class='fa fa-key'></i></span>
												<input	type="text" ng-model="ctrl.user.rda" id="rda" class="username form-control" placeholder="" required='required' ng-pattern="ctrl.onlyNumbers" />
											</div>
										</div>
										<div class="form-group col-md-4">
											<label class="control-label " for="ci">CI</label>
											<div class="input-group">
												<span class='input-group-addon hidden-xs'><i class='fa fa-legal'></i></span>
												<input type="text" ng-model="ctrl.user.ci" id="ci" class="username form-control" placeholder="" ng-pattern="ctrl.DNI"/>
											</div>
										</div>
										<div class="form-group col-md-4">
											<label class="control-label " for="nombre">Nombre</label>
											<div class="input-group">
												<span class='input-group-addon hidden-xs'><i class='fa fa-user'></i></span>
												<input	type="text" ng-model="ctrl.user.nombre" id="nombre"	class="username form-control" placeholder="" />
											</div>
										</div>
	
										<div class="form-group col-md-4">
											<label class="control-label " for="ap">Ap. Paterno</label>
											<div class="input-group">
												<span class='input-group-addon hidden-xs'><i class='fa fa-keyboard-o'></i></span>
												<input type="text" ng-model="ctrl.user.ap" id="ap" class="form-control" placeholder="" required='required' ng-minlength="3" />
											</div>
										</div>
	
										<div class="form-group col-md-4">
											<label class="control-label " for="am">Ap.
												Materno</label>
											<div class="input-group">
												<span class='input-group-addon hidden-xs'><i class='fa fa-keyboard-o'></i></span>
												<input type="text" ng-model="ctrl.user.am" id="am" class="form-control" placeholder="" required='required' ng-minlength="3" />
											</div>
										</div>
										<div class="form-group col-md-4">
											<label class="control-label " for="fono">Telefono</label>
											<div class="input-group">
												<span class='input-group-addon hidden-xs'><i class='fa fa-phone'></i></span>
												<input type="text" ng-model="ctrl.user.telefono" id="fono" class="form-control" placeholder="" required='required' ng-pattern="ctrl.onlyNumbers" />
											</div>
										</div>
										<!-- <div class="form-group col-md-4">
												<label class="control-label" for="foto">Foto</label>
													<input type="file" ng-model="ctrl.user.foto" id="foto"
														class="form-control"
														placeholder="" />
											</div> -->
	
										<div class="form-group col-md-12">
											<div class="form-actions margin-top-10">
												<input type="submit" value="{{!ctrl.user.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid || myForm.$pristine" />
												<button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm">Reset</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="">
						<!-- Default panel contents -->
						<div class="panel-body">
							<div class="table-responsive">
								<div class="form-group select-page-size-wrap ">
									<label>Filas por Pagina 
										<select class="form-control selectpicker show-tick" title="Fila en pagina" selectpicker="" ng-model="ctrl.smartTablePageSize" ng-options="i for i in [1,2,5,10,15,20,25]"></select>
									</label>
								</div>
								<!-- 				<div class="vertical-scroll"> -->
								<table class="table table-hover table-bordered" st-table='ctrl.smartData' st-safe-src="ctrl.rowCollection">
									<thead>
										<tr>
											<th st-sort='ci' style='width: 100px'>CI</th>
											<th st-sort='rda' style='width: 100px'>RDA</th>
											<th st-sort='nombre'>NOMBRE</th>
											<th st-sort='ap'>APELLIDOS</th>
											<th>TELEFONO</th>
											<th width="100" colspan='2'>
												<button type='button' class='btn btn-xs btn-default pull-right' ng-click='clearFilter();'>
													<i class='fa fa-refresh'></i> Reset
												</button>
											</th>
										</tr>
										<tr>
											<th>
												<div class='input-icon'>
													<i class='fa fa-search fa-lg'></i><input st-search='ci' class='form-control input-sm' type='search' ng-model='filter.ci' />
												</div>
											</th>
											<th>
												<div class='input-icon'>
													<i class='fa fa-search fa-lg'></i><input st-search='rda' class='form-control input-sm' type='search' ng-model='filter.rda' />
												</div>
											</th>
											<th>
												<div class='input-icon'>
													<i class='fa fa-search fa-lg'></i><input st-search='nombre' class='form-control input-sm' type='search' ng-model='filter.nombre' />
												</div>
											</th>
											<th>
												<div class='input-icon'>
													<i class='fa fa-search fa-lg'></i><input st-search='' class='form-control input-sm' type='search' ng-model='filter.apelido' />
												</div>
											</th>
											<th colspan='3'></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="u in ctrl.smartData">
											<td>{{u.ci}}</td>
											<td>{{u.rda}}</td>
											<td><a ng-click="clickToOpen(u.id)">{{u.nombre}}</a></td>
											<td>{{u.ap}} {{u.am}}</td>
											<td>{{u.telefono}}</td>
											<td colspan="2">
												<button type="button" ng-click="ctrl.editUser(u.id)" class="btn btn-sm btn-success custom-width">Editar <i class="fa fa-pencil-square-o"></i>
												</button>
												<button type="button" ng-click="ctrl.removeUser(u.rda)" class="btn btn-sm btn-danger custom-width">Borrar <i class="fa fa-trash-o"></i>
												</button>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="6" class="text-center">
												<div st-pagination="" st-items-by-page="ctrl.smartTablePageSize" st-displayed-pages="5"></div>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
					<!-- /.col -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.content -->

